.inner {
  height: 100%;
}

.logoSection {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease;

  &:hover {
    filter: brightness(120%);
  }
}

.socialIcon {
  transition: all 0.2s ease;
  @media (max-width: 768px) {
    width: 36px;
    height: 36px;
    min-width: 36px;
  }

  &:hover {
    transform: translateY(-2px);
  }
}
