.blogItem {
  color: white;
  cursor: pointer;
  transition: scale 0.2s ease, box-shadow 0.2s ease;
  border-radius: 0.5rem;
  box-shadow: 0 8px 24px rgba(255, 255, 255, 0.3);

  .imageWrapper {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 0.75rem;
    overflow: hidden;
    position: relative;
    height: 250px;
  }

  &:hover {
    scale: 1.02;
    box-shadow: none;
  }

  // .categories {
  //   color: #5ec4e8;
  //   display: flex;
  //   gap: 0.5rem;
  //   filter: drop-shadow(0px 2px 8px #F9F9F9);
  // }
}

.blogCardWrapper {
  display: flex;
  gap: 1.5rem;
  align-items: stretch;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  height: 100%;

  &::before {
    content: '';
    position: absolute;
    top: -0.75rem;
    left: -0.75rem;
    right: -0.75rem;
    bottom: -0.75rem;
    border-radius: 12px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 0;
  }

  &:hover {
    &::before {
      background-color: rgba(255, 255, 255, 0.1);
    }
    .image {
      transform: scale(1.05);
    }
  }

  @media (max-width: 768px) {
    // flex-direction: column;
    gap: 0.75rem;
  }
}
.imageWrapper {
  flex: 1;
  position: relative;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.image {
  object-fit: cover;
  transition: transform 0.5s ease;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  padding: 0.5rem 0; 
}

.title {
  color: #ffffff;
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  font-weight: 700;
  margin: 0;
  line-height: 1.4;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.meta {
  color: #ffffff;
  font-size: clamp(1rem, 1.25vw, 1.25rem);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}